@import '../../../wwwroot/css/variables';

::deep {
    .paths-pack {
        background-color: $SecondaryDarken;

        &__inner-container {
            background-color: $Secondary;
        }
    }
}