@import '../../../wwwroot/css/variables';

.tag-picker {
    .search-input {
        background-color: transparent;
        color: $StandartLightColor2;
        border-color: $StandartLightColor2;

        &:hover{
            border-color: $Primary;
        }

        &:focus-visible {
            outline: none;
        }
    }
}