@import "../../wwwroot/css/variables";

.page {
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    height: 40px;
    background-color: $SecondaryDarken;
    @include d-border-bottom;
    @include d-border-top;
}

::deep main {
    .main-container {
        &__side-menu {
            @include d-border-right;
            width: 300px;
            background-color: $Secondary;

            &.mobile-app-treeview {
                width: 0% !important;
                position: absolute;
                bottom: 0;
                top: 40px;
                z-index: 200;

                .struct-view-switcher {
                    display: none;
                }

                &.active {
                    width: 300px !important;

                    .struct-view-switcher {
                        display: flex;
                    }
                }
            }

            .struct-view-switcher {
                @include d-border-bottom;
                height: 27px;

                button {
                    width: 50%;
                    font-size: 16px;

                    &:hover {
                        color: $Primary !important;
                    }

                    &:nth-child(2) {
                        @include d-border-left;
                    }

                    &.selected-view-struct {
                        color: $Primary;
                    }
                }
            }

            .struct-content {
                overflow-y: auto;



                .struct-tree-item {
                    cursor: pointer;

                    .mud-treeview-item-content.mud-treeview-item-selected {
                        background-color: transparent;
                    }

                    .mud-treeview-item-icon,
                    .mud-treeview-item-arrow {

                        svg {
                            color: $StandartLightColor2 !important;
                        }
                    }
                }
            }
        }

        &__content {
            width: 100%;
            background-color: $SecondaryLighten;
            overflow-y: auto;

            .folder-breadcrumbs {
                @include d-border-bottom;
                position: sticky;
                width: 100%;
                background-color: $SecondaryLighten;
                top: 0;

                .mud-breadcrumb-item {
                    &:last-child {
                        pointer-events: none;
                        cursor: default;
                        color: #999;
                    }
                }
            }

            &.folder-page {
                &::-webkit-scrollbar-track {
                    margin-top: 60px !important;
                }
            }
        }
    }
}
