@using Web.Core.Models
@inherits MemeRepoBaseFluxorComponent

<div class="tag-collectionview">
  @*  <MudPaper Class="memerepo-tag-view-switcher d-flex flex-row align-center">
        <div class="btn-tag-sort btn-tag-sort__by-alphv">
            <MudIcon Class="rotate-arrow" Icon="@Icons.Filled.ArrowRightAlt" />
            <MudIcon Class="sort-icon" Icon="@Icons.Filled.SortByAlpha" />
        </div>
    </MudPaper>*@

    <ContextMenuTrigger MenuId="@(ContextMemuAlias.TagListView)" CssClass="h-100">
        <div class="inner-container d-flex flex-wrap  ">
            <Iterations T="TagViewModel" Items="@_appState!.Value.Tags">
                <MemeRepoTag Class="ms-1 mt-1" Data="@context" OnClickAction="OnTagClick" />
            </Iterations>
        </div>
    </ContextMenuTrigger>
</div>


