@inherits MemeRepoBaseComponent

<div class="@Classname d-flex flex-column align-center" style="@Stylename" @attributes="UserAttributes">
    <div class="memerepo-item__inner-container d-flex flex-column align-center">
        <img src="@(Data.Path)" />
        <p>@Data.Title</p>
    </div>
</div>