@inherits MemeRepoBaseComponent

<div class="memerepo-default-loading-component d-flex flex-column align-items-center @Class" style="@Style">
    <div class="memerepo-default-preloading">
        <div class="memerepo-default-loading"></div>
    </div>
</div>
