@import '../../wwwroot/css/_variables.scss';

.folder-page {
    @include default-container;
    height: 100%;

    &::-webkit-scrollbar-track {
        margin-top: 60px !important;
    }

    ::deep .folder-breadcrumbs {
        @include d-border-bottom;
        position: sticky;
        width: 100%;
        background-color: $SecondaryLighten;
        top: 0;

        .mud-breadcrumb-item {
            &:last-child {
                pointer-events: none;
                cursor: default;
                color: $Primary;
            }
        }
    }

    .folder-empty-message {
        @include default-container;
        justify-content: center;
        background-color: transparent;
    }
}
