@inherits FluxorComponent

<div class="folder-page justify-space-between">
    <MemeRepoStateContainer State="@state">

        <LoadingFragment>
            <MemeRepoLoading />
        </LoadingFragment>

        <ContentFragment>

            <MudBreadcrumbs Items="@FolderBreadcrumbItems" Class="folder-breadcrumbs">
                <ItemTemplate Context="item">
                    <MudText Class="custom-breadcrumb-item" @onclick="_ => OnFolderBreadcrumbItemClick(item.Href)">@item.Text</MudText>
                </ItemTemplate>
            </MudBreadcrumbs>
            <ContextMenuTrigger MenuId="folder-context-menu" CssClass="w-100 h-100">
                <MemeRepoContainer Items="FolderObjects">
                    <EmptyContent>
                        <div class="folder-empty-message">
                            <div class="d-flex flex-row align-center">
                                <MudIcon Icon="@Icons.Filled.FolderOpen" Style="height: 70px; width: 70px;" />
                                <MudText Style="font-size: 70px"> Мемчиков нема</MudText>
                            </div>
                            <MudText Class="mt-0">Наполни меня (͡° ͜ʖ ͡°)</MudText>
                        </div>
                    </EmptyContent>
                </MemeRepoContainer>
            </ContextMenuTrigger>

        </ContentFragment>

        <ErrorFragment>

        </ErrorFragment>

    </MemeRepoStateContainer>
</div>

<ContextMenu Id="folder-context-menu" AutoHide="true">
    <Item>Создать папку</Item>
</ContextMenu>
