@inherits MemeRepoBaseFluxorComponent

<div class="search-page">
    <MemeRepoStateContainer State="@state">

        <LoadingFragment>
            <MemeRepoLoading />
        </LoadingFragment>

        <ContentFragment>
            <MemeRepoContainer Items="tagObjects" />
        </ContentFragment>

        <ErrorFragment>

        </ErrorFragment>

    </MemeRepoStateContainer>
</div>
