@inherits MemeRepoBaseComponent

<div class="@Classname" style="@Stylename" @attributes="UserAttributes">
    <ContextMenuTrigger MenuId="memerepo-item-context-menu" CssClass="d-flex flex-column align-center w-100 h-100">
        <div class="memerepo-container-item__inner-container d-flex flex-column align-center">
            <img src="@(Data.Path)" />
            <p>@Data.Title</p>
        </div>
    </ContextMenuTrigger>
</div>

<ContextMenu Id="memerepo-item-context-menu" AutoHide="true">
    <Item OnClick="OnMemeRepoItemContextMenuUpdateMemeClick">Изменить</Item>
    <Item OnClick="OnMemeRepoItemContextMenuDeleteDeleteClick">Удалить</Item>
</ContextMenu>