@inherits MemeRepoBaseComponent

<div class="@Classname" style="@Stylename" @attributes="UserAttributes">
    <ContextMenuTrigger MenuId="memerepo-item-context-menu" CssClass="context-menu-trigger-block d-flex flex-column align-center" Data="Data">
        <div class="inner-container d-flex flex-column align-center">
            <img src="@(Data.Path)" />
            <p class="marquee"><span>@Data.Title</span></p>
        </div>
    </ContextMenuTrigger>
</div>

