.memerepo-container-item {
    width: 150px;
    height: 150px;

    &__inner-container {
        img {
            width: 150px;
            height: 120px;
            object-fit: scale-down;
        }

        p {
            height: 30px;
            padding: 2px 0px;
            font-size: 16px;
        }
    }
}
